html,body,.home
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
* {
    vertical-align: inherit;
}

.home
{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top:200px;
}
