<!DOCTYPE html>{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>BabloCRM</title>
    <link href="{% static "css/style.css" %}" rel="stylesheet" />
</head>
<body>
<div class="home"><a href="/admin/"><h1>Сайт только для сотрудников</h1></a></div>
</body>
</html>