{% extends "admin/base_site.html" %}
{% load admin_static admin_list i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/changelists.css" %}" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="../../">
    {% trans "Home" %}
  </a>
   &rsaquo;
   <a href="../">
     {{ app_label|capfirst }}
  </a>
  &rsaquo;
  {{ title }}
</div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="module filtered" id="changelist">

            {% block filters %}
            <div id="changelist-filter">
                <h2>{% trans 'Date' %}</h2>
                <form>
                <select name="m">
                    {% for item in mnts %}
                    <option value="{{ item.0 }}" {%  if item.0 == cur_mnt %}selected="selected"{% endif %} >{{ item.1 }}</option>
                    {% endfor %}
                </select>
                <select name="y">
                    {% for y in years %}
                    <option value="{{ y }}"  {%  if y == cur_y %}selected="selected"{% endif %} >{{ y }}</option>
                    {% endfor %}
                </select>
                    <input type="submit" value="{% trans "Filter" %}">
                </form>
            </div>
            {% endblock %}
            {% for ii in items %}
                {{ ii }} {{ ii.dist.peopleinsile }}<br />
            {% endfor %}
        {{ sum }}
    </div>
{% endblock %}